.ScrollEffect {
    overflow-y:scroll;
}

.ServiceSectionTitle {
    font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 72px;
letter-spacing: 0.1em;

color: #061522;
}

.WhatWeOffer {
    color: #DB4513;
border-left: 2px solid #DB4513;
padding-left: 15px;
text-align: center;
width: max-content;
}