.CarouselImg {
  height: 100%;
  width: 100%;
}

.CarouselText {
  margin-bottom: 0.2em;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -45%;
  width: 90%;
  color: #ffffff;
  padding: 10px;
  transition: opacity 0.35s ease-in-out;
  border-left: 10px solid #c96d63;
  font-family: Manrope;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: 0.1em;
  text-align: left;
}

@media only screen and (max-width: 600px) {
  .CarouselText {
    margin-bottom: 0.2em;
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -45%;
    width: 90%;
    color: #ffffff;
    padding: 10px;
    transition: opacity 0.35s ease-in-out;
    border-left: 10px solid #c96d63;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.1em;
    text-align: left;
  }
}

li.dot.selected {
  background: #c96d63 !important;
  height: 10px !important;
  width: 10px !important;
}

.carousel .control-dots {
  /* margin-bottom: 10rem !important; */
}
